[data-theme="dark"] {
  background-color: #111 !important;
  color: #eee;
}

[data-theme="dark"] .bg-light {
  background-color: #333 !important;
}

[data-theme="dark"] .bg-white {
  background-color: #000 !important;
}

[data-theme="dark"] .bg-black {
  background-color: #eee !important;
}

[data-theme="dark"] div#properties dt {
    font-weight: bold;
    border-top: 1px solid #eeeeee;
    background-color: #343a40;
    color: #FFFFFF;
}

[data-theme="dark"] hr {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
